@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins' , sans-serif;
}

:root{
    --bg-color: #1e1d1d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: rgb(255, 238, 0);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body::before {
    content: "";
    background: url('heroShoes_image.jpg') center/cover no-repeat;
    position: fixed;
    transform: translateY(100px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1; 
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    position: relative;
}

section{
   
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.logo img{   
        position: relative;
        height: 8vh;
        width: 8vh;
        top: 15px;
        transform: rotate(23deg);
}

.navbar a{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

.navbar i{
 
    font-size: 2.5rem;
}


#menu-icon{
    display: none;
    font-size: 3.6rem;
    color: var(--text-color);
}


.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1 span{
    color: rgb(255, 225, 0);
}

.home-content h3 span{
    color: rgb(255, 234, 0);
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 16px;
   
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-img img{
    max-width: 450px;
    margin-left: 100px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards , floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.circle {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px; /* Adjust the width for the desired size */
    height: 400px; /* Adjust the height for the desired size */
    background-color: rgb(175, 160, 1);
    border-radius: 100% 0 0 0; /* Creates a quarter circle shape */
    z-index: -1;
    opacity: 0.8;
}

.social-media {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    opacity: 1;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
   
    border-radius: 50%;
    font-size: 20px;
    color: var(--text-color);
    text-decoration: none;
    margin-bottom: 25px; 
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}



.social-media a:hover{
    background: rgb(255, 251, 0);
    color: #1f242d;
    box-shadow: 0 0 20px rgb(255, 251, 0);
}

.btn{
    position: relative;
    display: inline-block;
    top: 40px;
    padding: 12px 28px;
    background: rgba(255, 251, 0,.8);
    border-radius: 40px;
    box-shadow: 0 0 8px rgb(255, 251, 0);
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .2s;
}

.btn:hover{
   
    color: rgb(255, 251, 0);
    background-color: #1f242d;
    
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: transparent;
    animation: all ease 1;
}

.shop-section h2{
    font-size: 1.8rem;
}

.box{
    /**border: 2px solid black;**/
    height: 400px;
    width: 23%;
    background-color: transparent;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-img:hover{
    transform: scale(105%);
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    display: none;
    font-size: 1.2rem;
    color: #ffffff;
}
.foot-panel3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel3 img{
    display: inline-block;
    margin-left: -10px;
    position: relative;
    height: 12vh;
    width: 12vh;
    top: 30px;
    transform: rotate(23deg);
}

.foot-panel4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}


@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}

@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}

@keyframes zoomIn {
    0%{
        transform: scale(.5);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
    
}

@keyframes floatImage {
    0%{
        transform: translateY(0);     
    }

    50%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0);
    }
    
}


/* Responsive */
@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .portfolio{
        padding-bottom: 7rem;
    }
     
    .contact{
        min-height: auto;
    }
    
    .footer{
        padding: 2rem 3%;
    }
}


@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba( 0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba( 0, 0, 0, .2);
        display: none;
    }


    .navbar .active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }

    .home-content h3{
       font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
     }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .about{
        flex-direction: column-reverse;
    }

    .about-img{
        width: 70vw;
        margin-top: 4rem;
    }

    .portfolio h2{
        margin-bottom: 3rem;
    }
    
    .portfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 617px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    .contact form .input-box input{
        width: 100%;
    }
}

@media (max-width: 365px){
      .home-img img{
          width: 90vw;
      }

      .about-img img{ 
          width: 90vw;
      }

      .footer{
        flex-direction: column-reverse;
      }

      .footer p{
        text-align: center;
        margin-top: 2rem;
      }
}